<div>
  <form [formGroup]="todoForm">

    <p>
      <input class="input" type="text" id="value" name="value" formControlName="text" />
      <input class="checkbox" type="checkbox" name="checkbox" formControlName="isDone" />
    </p>

    <button class="btn btn-primary  mb-2" type="submit" (click)="addTodo()"
      *ngIf="(_todoService.editingTodo$ | async) === null">Add Item</button><br />

    <button class="btn btn-secondary mb-2 " type="submit" *ngIf="(_todoService.editingTodo$ | async) !== null"
      (click)="updateTodo()"> Update
    </button>

  </form>

  <button class="btn btn-primary" (click)="getAllTodos()">Get All Todos</button>

</div>